{% extends "auctions/layout.html" %}

{% block body %}
<div>
    <h3><strong>Title</strong>: {{listing.title}}</h3>
    <p><strong>Description</strong>: {{listing.description}}</p>

    {% if listing.image_url %}
        <img width="250px" src="{{listing.image_url}}">
    {% else %}
        <p><strong>No image available!</strong></p>
    {% endif %}

    {% if listing.is_active == True %}

    {% if listing.bid is None %}
    <p>Be the first one to bid on this item (<strong>Starting bid</strong>: {{listing.starting_bid}})</p>
    {% else %}
    <p><strong>Current price (Highest bid): {{listing.current_price}}</strong></p>
    {% endif %}
    <p><strong>Listing user</strong>: {{listing.listing_user}}</p>
</div>
<div>
    {% if request.user.is_authenticated %}
    {% if listing not in  watchlist %}

    <form action="{% url 'watchlist' request.user.id%}" method="post">
        {% csrf_token %}
        <input type="hidden" name = "listing_id" value="{{listing.id}}">
        <input type= "hidden" name = "action" value= 1>
        <input type="submit" value="Add to watchlist">

    </form>

    {% else %}
    <form action="{% url 'watchlist' request.user.id%}" method="post">
        {% csrf_token %}
        <input type="hidden" name = "listing_id" value="{{listing.id}}">
        <input type= "hidden" name = "action" value= 0>
        <input type="submit" value="Remove from watchlist">
    </form>    

    {% endif %}

    <form action="{% url 'place_bid' listing.id %}" method = "post">
        {% csrf_token %}
        
        <input type="submit" value="Bid on listing">
        <input type = "number" name ="bid_amount" placeholder="Bid amount">
    </form>

    {% endif %}

    {% if message%}
    <p>{{message}}</p>
    {% endif %}

    {% if listing.listing_user.id == request.user.id %}
        <form action="{% url 'close_listing' listing.id %}" method = "post">
            {% csrf_token %}
            <input type="submit" value="Close listing">

        </form>
    {% endif %}

    {% else %}
    {% if request.user == listing.winner%}
    <p> Congratulations! You have won this auction!</p>
    {% else %}
    <p> Listing closed</p>
    {% endif %}
    {% endif %}

</div>
{% endblock %}